/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Eames;
  src: url('/fonts/eames.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .small-caps {
    font-variant-caps: all-small-caps;
  }
}

html,
body {
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
  overscroll-behavior: contain;
}
